U2UDataLoader/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "U2UDataLoader"
		},
		"AzureSQLDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSQLDB'"
		},
		"BikeDataInAzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BikeDataInAzureBlobStorage'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_lcg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Trip Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "u2ulabs/data/babs/source/201508_trip_data.csv"
							},
							{
								"name": "Destination",
								"value": "dbo.trip_data"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table dbo.trip_data",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Trip ID",
											"type": "String"
										},
										"sink": {
											"name": "Trip_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Duration",
											"type": "String"
										},
										"sink": {
											"name": "Duration",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Start Date",
											"type": "String"
										},
										"sink": {
											"name": "Start_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Start Station",
											"type": "String"
										},
										"sink": {
											"name": "Start_Station",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Start Terminal",
											"type": "String"
										},
										"sink": {
											"name": "Start_Terminal",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "End Date",
											"type": "String"
										},
										"sink": {
											"name": "End_Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "End Station",
											"type": "String"
										},
										"sink": {
											"name": "End_Station",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "End Terminal",
											"type": "String"
										},
										"sink": {
											"name": "End_Terminal",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Bike #",
											"type": "String"
										},
										"sink": {
											"name": "Bike",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Subscriber Type",
											"type": "String"
										},
										"sink": {
											"name": "Subscriber_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Zip Code",
											"type": "String"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_lcg",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_lcg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Status Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Trip Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table dbo.babs_status",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "station_id",
											"type": "String"
										},
										"sink": {
											"name": "station_id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "bikes_available",
											"type": "String"
										},
										"sink": {
											"name": "bikes_available",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "docks_available",
											"type": "String"
										},
										"sink": {
											"name": "docks_available",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "time",
											"type": "String"
										},
										"sink": {
											"name": "time",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "statusdataBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "babsStatusTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Calculate Aggregation Data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Status Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CalcAggData]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_lcg')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_lcg')]",
				"[concat(variables('factoryId'), '/datasets/statusdataBlob')]",
				"[concat(variables('factoryId'), '/datasets/babsStatusTable')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_lcg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Trip_ID",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "Duration",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "Start_Date",
						"type": "datetime2",
						"precision": 255,
						"scale": 7
					},
					{
						"name": "Start_Station",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "Start_Terminal",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "End_Date",
						"type": "datetime2",
						"precision": 255,
						"scale": 7
					},
					{
						"name": "End_Station",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "End_Terminal",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "Bike",
						"type": "int",
						"precision": 10,
						"scale": 255
					},
					{
						"name": "Subscriber_Type",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "Zip_Code",
						"type": "nvarchar",
						"precision": 255,
						"scale": 255
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "trip_data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_lcg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BikeDataInAzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "201508_trip_data.csv",
						"folderPath": "data/babs/source",
						"container": "u2ulabs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"nullValue": "\\N",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BikeDataInAzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSQLDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BikeDataInAzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BikeDataInAzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/statusdataBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BikeDataInAzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "status_data_2015.csv.gz",
						"folderPath": "data/babs/source",
						"container": "u2ulabs"
					},
					"columnDelimiter": ",",
					"compressionCodec": "gzip",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "station_id",
						"type": "String"
					},
					{
						"name": "bikes_available",
						"type": "String"
					},
					{
						"name": "docks_available",
						"type": "String"
					},
					{
						"name": "time",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BikeDataInAzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/babsStatusTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "station_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "bikes_available",
						"type": "int",
						"precision": 10
					},
					{
						"name": "docks_available",
						"type": "int",
						"precision": 10
					},
					{
						"name": "time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "babs_status"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSQLDB')]"
			]
		}
	]
}